@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 95 100% 95%;
    --foreground: 95 5% 0%;
    --card: 95 50% 90%;
    --card-foreground: 95 5% 10%;
    --popover: 95 100% 95%;
    --popover-foreground: 95 100% 0%;
    --primary: 95 61.9% 79.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 95 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 57 30% 85%;
    --muted-foreground: 95 5% 35%;
    --accent: 57 30% 80%;
    --accent-foreground: 95 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 95 5% 90%;
    --border: 95 30% 50%;
    --input: 95 30% 18%;
    --ring: 95 61.9% 79.4%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 95 50% 5%;
    --foreground: 95 5% 90%;
    --card: 95 50% 0%;
    --card-foreground: 95 5% 90%;
    --popover: 95 50% 5%;
    --popover-foreground: 95 5% 90%;
    --primary: 95 61.9% 79.4%;
    --primary-foreground: 0 0% 0%;
    --secondary: 95 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 57 30% 15%;
    --muted-foreground: 95 5% 60%;
    --accent: 57 30% 15%;
    --accent-foreground: 95 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 95 5% 90%;
    --border: 95 30% 18%;
    --input: 95 30% 18%;
    --ring: 95 61.9% 79.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
